html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding:0;
  line-height:100%;
  font-size:10px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
  margin:0;
  padding:0;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
img {
  vertical-align: middle;
}
body {
  max-width: 2500px;
  margin: 0 auto;
  color: #271f35;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7em;
  font-family: 'Encode Sans Condensed', sans-serif;
}
*{
   box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
.nav > li > a:hover, .nav > li > a:focus {
  background: none;
  outline: none;
}
::selection {
  color: #fff;
  background-color: #193765;
}
::-moz-selection {
  color: #fff;
  background-color: #193765;
}
input:focus, button:focus, select:focus, textarea:focus{
  outline: none;
}
.slick-arrow{
	border: none;
	background-color: transparent;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.absolute-link{
  position: relative;
}
.absolute-link a{
  position: absolute;
  top:0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 7;
}
input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #193765;
}
a:focus {
  text-decoration: none;
  outline: none;
}
a:visited {
  text-decoration: none;
  outline: none;
}
.justify{
  text-align: justify;
}
.text-right{
  text-align: right;
}

input[type="tel"], input[type="number"],
input[type="text"],input[type="email"],input[type="password"], select, textarea{
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 17px;
  padding: 5px 6px;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 , h3 input{
  margin: 0;
  font-size: 2.2em;
  font-weight: 400;
  position: relative;
  line-height: 1.3em;
  font-family: 'Encode Sans Condensed', sans-serif;
}
h1{
  color: #9c9c9c;
  text-align: center;
  padding: 30px 0;
}
h2, h4{
  font-weight: 400;
  color: #000;
  text-align: center;
  margin: 30px 0;
}
h3, h3 input{  
  font-size: 1.3em!important;
  color: #8ca0cc!important;
  font-weight: 400!important;
  padding: 10px 0;
  text-align: center;
}
strong{
  font-weight: 700;
}
button, input[type="submit"]{
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}
p{
  margin:0;
}

strong {
  font-weight: 700;
}

.row:before, .row:after, .container:before, .container:after{
  content: " ";
  display: table;
}
.row:after, .container:after{
  clear: both;
}
.row-margin{
  margin-left: -15px;
  margin-right: -15px;
}
.lg20, .lg30, .lg40, .lg50, .lg60, .lg70, .lg80, .lg75, .lg25, .lg33, .lg66, .lg10, .lg90,
.md20, .md30, .md40, .md50, .md60, .md70, .md80, .md75, .md25, .md33, .md66, .md10, .md90,
.sm20, .sm30, .sm40, .sm50, .sm60, .sm70, .sm80, .sm75, .sm25, .sm33, .sm66, .sm10, .sm90,
.xs20, .xs30, .xs40, .xs50, .xs60, .xs70, .xs80, .xs75, .xs25, .xs33, .xs66, .xs10, .xs90,
.customw
{
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
}
.lg20, .lg30, .lg40, .lg50, .lg60, .lg70, .lg80, .lg75, .lg25, .lg33, .lg66, .lg10, .lg90{
  float: left;
}
.lg100, .xs100, .sm100, .md100{width: 100%; display: block; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.lg20{width: 20%;}
.lg25{width: 25%;}
.lg75{width: 75%;}
.lg33{width: 33.333%;}
.lg66{width: 66.666%;}
.lg30{width: 30%;}
.lg40{width: 40%;}
.lg50{width: 50%;}
.lg60{width: 60%;}
.lg70{width: 70%;}
.lg80{width: 80%;}
.lg10{width: 10%;}
.lg90{width: 90%;}
.padding-15{padding-left:15px;padding-right: 15px;}
.text-center{text-align: center;}
.container{display: block;position: relative;width: 1210px;padding-left:15px;padding-right:15px;margin-left:auto;margin-right:auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.pull-right{
  float: right;
}

.display_flex{
	display: flex!important;
	align-items: center;
}

.header{
	padding: 20px 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #fff;
}
.logo{
	text-align: center;
  padding: 10px 0;
}
.logo img{
  max-width: 80px;
}
.navbar ul{
	display: table;
	margin: 15px auto;
	list-style-type: none;
	padding: 0;
}
.navbar ul li{
	display: inline-block;;
	float: left;
	z-index: 5;
	position: relative;
}
.nav-right{
  float: right;
}
.navbar ul li a, .nav-right a{
	font-size: 1em;
	font-weight: 600;
	padding: 15px 25px;
	text-transform: uppercase;
}
.slide_content{
  padding: 150px 0;
}
.banner img, .reference img, .left_content_image img{
	min-width: 100%;
	min-height: 100%;
	height: auto;
	width: auto;
}
.slide_banner{
  position: absolute;
  left: 0;
  opacity: 0;
  transition: 1s;
}
.banner{
  overflow: hidden;
}
.show{
  opacity: 1!important;
}
.film{
  text-align: center;
  margin-bottom: 30px;
}
.film input, .film textarea{
  background-color: transparent;
  border: none;
  color: #fff;
  width: 100%;
}
.film input:hover, .film textarea:hover{
  border-bottom: 1px solid #fff;
}
.film img{
  max-width: 250%;
  min-width: 100%;
  max-height: 350px;
  min-height: 300px;
}
.film .film_content{
  overflow: hidden;
}
.film .date_of_product, .film .rate{
  position: absolute; 
  top: 0;
  width: 50px;
  height: 30px;
  font-size: 0.9em;
  font-style: italic;
  vertical-align: middle;
  line-height: 30px;
  text-align: center;
  color: #000;
  z-index: 9999;
}
.film .date_of_product{
  background-color: #8ca0cc;
  left: 15px;
}
.film .rate{
  right: 15px;
  width: 80px;
  font-size: 16px;
  background-color: #d3c84a;
}
.film .rate input{
  text-align: center;
}
.see_more{
  padding: 15px 30px;
  display: inline-block;
  color: #fff;
}
.see_more:hover{
  color: #9c9c9c;
}
.body_content{
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 30px 15px;
  right: 15px;
  left: 15px;
  background-color: rgba(11, 18, 21, 0.83);
  color: #fff;
  transform: scale(0);
  transition: 1s;
}
.film_edit .body_content{
  padding: 15px;
}
.film_content:hover > .body_content{
  transform: scale(1);
}
.film .change_input, .film .delete_input{
  display: inline-block;
  float: left;
  width: 50%;
  font-size: 1.2em;
}
.film_content input, .film_content textarea{
  font-size: 15px;
}
.film .delete_input{
  color: #db0000;
}
.add_film input, .add_film select, .add_film textarea{
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
/*.add_film input:hover, .add_film select:hover, .add_film textarea:hover, .add_film input:focus, .add_film select:focus, .add_film textarea:focus{
  border-bottom: 1px solid #159626;
}*/
.submit{
  padding: 10px 100px;
  border: 1px solid #6a707a;
  color: #6a707a;
  font-size: 1em;
  background: transparent;
  color: #000;
  margin: 0 auto;
  width: auto!important;
  transition: 1s;
}
.add_film .submit:hover{
  color: #159626;
  border-radius: 10px;
  border-color: #159626;
}
.user_acces_form input{
  display: block;
  width: 100%;
  max-width: 600px;
  color: #fff;
  text-align: center;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  margin: 0 auto;
  margin-bottom: 20px;
}
.hidden_input{
  display: none;
}
input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {
   background-color: transparent!important;
}
::-webkit-input-placeholder::placeholder{
  color: #fff;
  text-align: center;
}
:-moz-placeholder{
  color: #fff;
  text-align: center;
}
.user_acces_form{
  color: #fff!important;
  font-size: 1.3em;
  text-align: center;
}
.user_acces_form label{
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
}
.user_acces_form .submit{
  margin-top: 30px;
  width: auto;
  color: #fff;
  padding: 10px 70px;
}
.user_acces_form .submit:hover{
  border-color: gray;
  color: gray;
}
.filter_banner{
  background-color: rgba(0, 0, 0, 0.46);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.nav_admin ul{
  padding: 0;
  margin: 0;
}
.nav_admin ul li{
  list-style: none;
  width: 50%;
  display: inline-block;
  position: relative;
  float: left;
  padding: 15px;
}
.nav_admin ul li a{
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 15px;
  font-size: 1.3em;
  position: relative;
  transition: 1s;
}
.nav_admin ul li a:hover{
  color: #b0f442;
}
.nav_admin ul li a:after{
  height: 1px;
  position: absolute;
  left: 50%;
  width: 0;
  bottom: -1px;
  content: " ";
  background-color: #b0f442;
  z-index: 999;
  display: block;
  transition: 1s;
}
.nav_admin ul li a:before{
  height: 1px;
  position: absolute;
  right: 50%;
  width: 0;
  bottom: -1px;
  content: " ";
  background-color: #b0f442;
  z-index: 999;
  display: block;
  transition: 1s;
}
.nav_admin ul li:hover a:after, .nav_admin ul li:hover a:before{
  width: 50%;
}
.slide_content h2, .slide_content h4{
  color: #fff;
}
.error{
  color: red;
  font-size: 0.8em;
}
.film_page{
  padding: 50px 0;
  text-align: left;
}
.film_page h1{
  text-align: left;
}
.add_rate{
  cursor: pointer;
  padding: 15px 0;
  display: inline-block;
  position: relative;
}
.add_rate:hover{
  color: green;
}
.add_rate_form{
  display: none;
}
.film_page h1{
  padding-top: 0;
}
.film_page iframe{
  margin: 50px auto;
  float: none;
  display: inherit;
}
.comments{
  padding: 50px 0;
  font-size: 1em;
}
.comments h6{
  font-size: 1.2em;
  color: #9c9c9c;
  display: inline-block;
}
.comments h5{
  padding-bottom: 15px;
}
.comments .datetime{
  font-size: 0.7em;
  color: gray;
  float: right;
  padding-top: 2px;
 }
.comments .comment{
  border-top: 1px solid gray;
  padding: 10px 15px;
}
.comments .comment:last-child{
  border-bottom: 1px solid gray;
}
.create_info{
  display: block;
  padding-top: relative;
  width: 100%;
  float: left;
  text-align: right;
  margin-top: 3.5px;
  padding-right: 10px;
}






@media(max-width:1270px){
.md100{width: 100%;}
.md20{width: 20%;}
.md25{width: 25%;}
.md75{width: 75%;}
.md33{width: 33.333%;}
.md66{width: 66.666%;}
.md30{width: 30%;}
.md40{width: 40%;}
.md50{width: 50%;}
.md60{width: 60%;}
.md70{width: 70%;}
.md80{width: 80%;}
.md10{width: 10%;}
.md90{width: 90%;}
.md20, .md30, .md40, .md50, .md60, .md70, .md80, .md75, .md25, .md33, .md66, .md10, .md90{
  float: left;
}


}
@media(max-width:992px){
.sm100{width: 100%;}
.sm20{width: 20%;}
.sm25{width: 25%;}
.sm75{width: 75%;}
.sm33{width: 33.333%;}
.sm66{width: 66.666%;}
.sm30{width: 30%;}
.sm40{width: 40%;}
.sm50{width: 50%;}
.sm60{width: 60%;}
.sm70{width: 70%;}
.sm80{width: 80%;}
.sm10{width: 10%;}
.sm90{width: 90%;}
.sm20, .sm30, .sm40, .sm50, .sm60, .sm70, .sm80, .sm75, .sm25, .sm33, .sm66, .sm10, .sm90{
  float: left;
}
.container{
  width: 710px;
}
body{
  font-size: 14px;
}



}
@media(max-width:767px){
.xs100{width: 100%;}
.xs20{width: 20%;}
.xs25{width: 25%;}
.xs75{width: 75%;}
.xs33{width: 33.333%;}
.xs66{width: 66.666%;}
.xs30{width: 30%;}
.xs40{width: 40%;}
.xs50{width: 50%;}
.xs60{width: 60%;}
.xs70{width: 70%;}
.xs80{width: 80%;}
.xs10{width: 10%;}
.xs90{width: 90%;}
.xs20, .xs30, .xs40, .xs50, .xs60, .xs70, .xs80, .xs75, .xs25, .xs33, .xs66, .xs10, .xs90{
  float: left;
}
.container{padding-left: 15px;padding-right: 15px; width: 100%;}
.hidden-xs{
  display: none;
}
.xs-offset-top{
  margin-top: 30px;
}


}
@media(max-width:480px){


}

